@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;500;700&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

$primary: #0496FF;
$gray: #535353;
$black: #000000;
$white: #FFFFFF;

$font-size-mobile: 3.094rem;

$mobile-breakpoint: 768px;
$tablet-min-breakpoint: 769px;
$tablet-max-breakpoint: 1023px;
$desktop-breakpoint: 1024px;


/* 
---------------------------
    ¿Por que BlackMezas
---------------------------
 */ 
.hero-body.pqBM{
    display: flex;
    justify-content: space-around;
}

.pqBM.prop {
    display: flex;
    align-items: center;
}

.pqBM.prop.desc {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: $white;
    width: 12.5rem;
    text-align: left;
    margin-left: 5%;
}

.pqBM.pce{
    background-color: $primary;
    width: 48%;
    padding: 4.834rem 8.025rem 15.188rem 4.744rem;
}

.pceTitle {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 3.625rem;
    color: $white;
    text-align: left;
    margin-bottom: 8%;
}

.pceDesc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: $white;
    text-align: left;
}

.line.pqbm {
    background-color: $white;
    width: 4.563rem;
    height: 0.125rem;
    margin-top: 2.5%;
}

.sectionTitle.pqbm {
    margin-bottom: 2%;
}

.columns.pqbmTop, .columns.pqbmCenter {
    padding-bottom: 20%;
}

.pqbm.pcs {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: $white;
    margin-bottom: 2%;
    margin-right: 1%;
}


/* 
----------------------
    Que aportamos
----------------------
 */ 
.columns.qaportamos {
    display: grid;
    gap: 5.313rem;
    color: #000000;
}

.column.qaportamos {
    background-color: $white;
    border-radius: 0.625rem;
    height: 25.063rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qaportamosTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 2.063rem;
    letter-spacing: 0.006rem;
    padding-bottom: 8%;
}

.qaportamosDesc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.688rem;
    letter-spacing: 0.013rem;
    color: #5C5C5C;
}

.contQaportamos {
    width: 75%;
}

.hero-head.qaportamos {
    margin-left: 10%;
    padding-top: 6%;
}

.nosotros.qaportamos {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: $white;
    margin-bottom: 2%;
    margin-right: 1%;
}

.qAportamos.qaportamos {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.813rem;
    color: $white;
}

.line {
    background-color: $white;
    width: 4.563rem;
    height: 0.125rem;
    margin-top: 1%;
}

.sectionTitle {
    display: flex;
}

/* 
--------------------
    Contactanos
--------------------
*/
.titleContactanos {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.188rem;
    color: $white;
    margin-bottom: 15%;
}

.descContactanos {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: $white;
    margin-bottom: 10%;
}

.button.contactanos {
    background-color: $primary;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.188rem 7.125rem;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $white;
}

.contactanosSub {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 1.875rem;
    color: $white;
    margin-bottom: 3%;
    margin-right: 2%;
}

.line.contactanos {
    background-color: $white;
    width: 4.563rem;
    height: 0.125rem;
    margin-top: 2.5%;
}


.contactanos.left {
    width: 33.7%;
    margin-left: 7%;
    margin-right: 15%;
}



@media (max-width: $mobile-breakpoint) {
    /* 
    ---------------------------
        ¿Por que BlackMezas
    ---------------------------
    */ 
    .hero-body.pqBM{
        flex-direction: column-reverse;
    }

    .pqBM.pce{
        width: 95%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15%;
    }

    .line.pqbm {
        width: 0rem;
    }

    .pceTitle {
        font-size: 2.3rem;
        line-height: 3rem;
        text-align: center;
        margin-bottom: 8%;
    }

    .pceDesc {
        font-size: 1.14rem;
        line-height: 1.875rem;
        text-align: center;
    }

    .columns.pqbmTop, .columns.pqbmCenter {
        padding-bottom: 5%;
    }

    .pqbm.pcs {
        font-size: 1.2rem;
        margin-bottom: 4%;
        margin-right: 0%;
    }

    .pqBM.prop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pqBM.prop.desc {
        font-size: 1.14rem;
        line-height: 1.625rem;
        width: 12.5rem;
        text-align: center;
        margin-left: 0%;
        margin-top: 5%;
    }

    .icnPQBM {
        width: 2.5rem;
    }

    /* 
    ----------------------
        Que aportamos
    ----------------------
    */ 
    .qAportamos.qaportamos {
        font-size: 2.5rem;
        text-align: center;
    }

    .nosotros.qaportamos {
        font-size: 1.2rem;
        margin-right: 5%;
    }

    .line {
        margin-top: 10%;
        width: 0%;
    }

    .hero-head.qaportamos {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columns.qaportamos {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column.qaportamos {
        width: 85%;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .qaportamosTitle {
        font-size: 1.6rem;
        line-height: 2.063rem;
        letter-spacing: 0.006rem;
        padding-bottom: 8%;
    }
    
    .qaportamosDesc {
        font-size: 1.14rem;
        line-height: 1.688rem;
        letter-spacing: 0.013rem;
        color: #5C5C5C;
    }

    .iconQaportamos {
        width: 3.125rem;
    }

    /* 
    --------------------
        Contactanos
    --------------------
    */
    .contactanos.left {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titleContactanos {
        font-size: 2.5rem;
        margin-bottom: 15%;
        text-align: center;
    }

    .descContactanos {
        font-size: 1.14rem;
        text-align: center;
    }

    .line.contactanos {
        width: 0rem;
    }

    .contactanosSub {
        font-size: 1.2rem;
        margin-bottom: 3%;
        margin-right: 0%;
    }

    .patternDiv{
        display: none;
    }

}