@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

$primary: #0496FF;
$black: #000000;
$white: #FFFFFF;

$font-size-web: 4.5rem;
$font-family-web: 'Lora';
$title-line-height-web: 5.75rem;

$map: './map.svg';

$mobile-breakpoint: 768px;
$tablet-min-breakpoint: 769px;
$tablet-max-breakpoint: 1023px;
$desktop-breakpoint: 1024px;


.is-black {
    background-color: $black;
}

.is-white {
    background-color: $white;
}


.slogan {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 7.313rem;
    text-align: center;
    margin-top: -4%;
}

.is-image {
    background-image: url($map);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column.persCon {
    margin-top: -3%;
}


.title.perspCon {
    color: $black;
    font-family: $font-family-web;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-web;
    line-height: $title-line-height-web;
    margin-top: 7%;
    margin-left: 9%;
}

.columns.perspCon {
    display: grid;
    gap: 2.494rem;
}

.column.persCon {
    height: 38.818rem;
    width: 29.093rem;
    color: $white;
    background-color: $black;
    font-family: $font-family-web;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.563rem;
}

.persCon-aligment{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.column.persCon p{
    width: 14.375rem;
}

.maskgroup {
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
}

.blur-layer {
    background: rgba(112, 112, 112, 0.3);
    height: 100%;
    backdrop-filter: blur(48px);
}

// La formula correcta
.title.formcorr {
    font-family: $font-family-web;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-web;
    line-height: $title-line-height-web;
    width: 21.125rem;
    margin-left: 7rem;
}

.formCorrCon {
    display: flex;
}

.formCorrNum {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 4.438rem;
    color: $primary;
}

.formCorrTit {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.375rem;
    color: $white;
    padding-top: 2%;
}

.formCorrDesc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-indent: 2px;
    width: 22.125rem;
}

.columns.formCorrTop {
    padding-bottom: 2.5rem;
}

.columns.formCorrBottom {
    padding-top: 2.5rem;
    // background-color: #426b88;
}
 

@media (max-width: $mobile-breakpoint) {
    .slogan {
        font-size: 2rem;
        line-height: 2.34rem;
    }

    .title.perspCon {
        font-size: 3.094rem;
        line-height: 3.953rem;
        margin-left: 3%;
    }

    .column.persCon {
        height: 32.6rem;
        width: 22.875rem;
        color: $white;
        background-color: $black;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.563rem;
    }
}

@media (min-width: $tablet-min-breakpoint) and (max-width: $tablet-max-breakpoint) {
    .slogan {
        font-size: 5.3rem;
        line-height: 6.2rem;
    }

    .title.perspCon {
        font-size: 3.094rem;
        line-height: 3.953rem;
        margin-left: 3%;
    }

    .column.persCon {
        height: 32.6rem;
        width: 15rem;
        color: $white;
        background-color: $black;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.563rem;
    }
}