@import "~bulma/bulma";

$primary: blue;
$black: #000000;
$white: #FFFFFF;
$map: './map.svg';
$variable-columns: false;

$mobile-breakpoint: 768px;
$tablet-min-breakpoint: 769px;
$tablet-max-breakpoint: 1023px;
$desktop-breakpoint: 1024px;


.is-black {
    background-color: $black;
}

.is-white {
    background-color: $white;
}


.slogan {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 6.25rem;
    line-height: 7.313rem;
    text-align: center;
    margin-top: -4%;
}

.is-image {
    background-image: url($map);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.column.persCon {
    margin-top: -3%;
}


.title.perspCon {
    color: $black;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.75rem;
    margin-top: 7%;
    margin-left: 9%;
}

.columns.perspCon {
    display: grid;
    gap: 2.494rem;
}

.column.persCon {
    height: 38.818rem;
    width: 29.093rem;
    color: $white;
    background-color: $black;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.563rem;
    // margin-right: 2.494rem;
}

.persCon-aligment{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.column.persCon p{
    width: 14.375rem;
}

.maskgroup {
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
}

.blur-layer {
    background: rgba(112, 112, 112, 0.3);
    height: 100%;
    backdrop-filter: blur(48px);
}
 

@media (max-width: $mobile-breakpoint) {
    .slogan {
        font-size: 2rem;
        line-height: 2.34rem;
    }

    .title.perspCon {
        font-size: 3.094rem;
        line-height: 3.953rem;
        margin-left: 3%;
    }

    .column.persCon {
        height: 32.6rem;
        width: 22.875rem;
        color: $white;
        background-color: $black;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.563rem;
    }
}

@media (min-width: $tablet-min-breakpoint) and (max-width: $tablet-max-breakpoint) {
    .slogan {
        font-size: 5.3rem;
        line-height: 6.2rem;
    }

    .title.perspCon {
        font-size: 3.094rem;
        line-height: 3.953rem;
        margin-left: 3%;
    }

    .column.persCon {
        height: 32.6rem;
        width: 15rem;
        color: $white;
        background-color: $black;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.563rem;
    }
}